* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(71, 71, 71);
    color: orange;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin: 10px 0 25px 0;
}

.main {
    display: flex;
    width: 75%;
}

.player-side{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.computer-side {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0 0 0;
}

.display {
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border: 2px solid orange;
}

button {
    height: 50px;
    width: 100px;
    margin: 10px;
    font-weight: 900;
    color: orange;
    background-color: rgb(71, 71, 71);
    border: 2px solid orange;
}

.round-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 25px;
    padding: 15px;
    border-top: 2px solid orange;
}

.round-result h2 {
    padding: 5px;
}

.replay-btn {
    align-self: center;
}

button:hover {
    color: rgb(71, 71, 71);
    background-color: orange;
}

button:disabled {
    background-color: rgba(71, 71, 71, 0.2);
    color: rgba(255, 166, 0, 0.2);
    border: 2px solid rgba(255, 166, 0, 0.2);
}